
<%- include("partials/header"); -%>

    <h1>Home</h1>
    <p> <%= startingContent %> </p>


  <%  posts.forEach(function(post){ %>
    <div class="post">
    <h4><b><%=post.title%></b></h4>
    <h6><%=post.timestamp%></h6>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>
    </div>

    <% }) %>


<%- include("partials/footer"); -%>
